* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: lightgrey;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
    background-color: rgb(0, 35, 81);
}

/* Placement */

.logo {
    max-width: 220px;
}

.ronald {
    width: 300px;
    margin-left: 2em;
    margin-top: 4em;
    border-radius: 50%;
}

li {
    background-color: white;
    border-radius: 5px;
    border: grey 1px solid;
}

body {
    display: flex;
    flex-direction: column;
}

code {
    color: grey;
}

.main {
    border-top: white solid 3px;
    padding-top: 5em;
    padding-left: 18em;
    padding-right: 18em;
    padding-bottom: 4em;
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}


/* Header */

.site-header {
    padding-top: 2em;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(184, 184, 184);
}

/* Title */

.title, .logo {
    padding: 0em 3em 0em 0;
    margin-left: 2em;
}

@media (max-width: 1800px) {
    .main {
        padding-left: 9em;
        padding-right: 9em;
    }
}

@media (max-width: 1000px) {
    .main {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    padding-top: 1em;
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-bottom: 30px;
}


.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
