<footer>
    <div class="social">
        {% for social in pages["_meta"].meta.social %}
            <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                <i class="{{ social.icon }}" aria-hidden="true"></i>
                <span class="sr-only">{{ social.title }}</span>
            </a>
        {% endfor %}
        <p class = "footertext">
            © josf23.
        </p>
    </div>
</footer>
