.footer {
    border-top: 1px solid $accent-color;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 3em;
    text-align: center;
    width: 400px;
}

.footer a {
    color: $font-alternative-color;
}

.footer .social {
    font-size: 12px;
}

footer .social a {
    padding-left: 10px;
    padding-right: 10px;
}

.footertext {
    color: $font-color;
    margin: auto;
    padding-bottom: 2em;
    text-align: center;
    width: 100%;
}

.container {
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
}

.social {
    padding-top: 3em;
    text-align: center;
}
