/* Header */

.header,
.site-header {
    background-color: $background-alternative-color;
    display: flex;
    justify-content: space-between;
}

.header {
    border-bottom: 3px solid $accent-color;
    flex: 0 0 auto;
    width: 100%;
}

.nav.hidden {
    display: none;
}

.nav ul li a {
    font-size: 23px;
    text-decoration: none;
}

.logo {
    width: 120px;
}

/* Title */

.title,
.logo {
    margin-left: 2em;
    padding: 0 2em 0 0;
}

.title * {
    color: $white-color;
    white-space: nowrap;
}

.titlename {
    font-family: $title-font;
    font-size: 2.2em;
    width: static;
}

.nav a {
    color: $highlight;
}

.active {
    text-decoration: $highlight underline;
}
