/* Header */

.header,
.site-header {
    background-color: $background-alternative-color;
    display: flex;
    justify-content: space-between;
}

.header {
    border-bottom: 3px solid $accent-color;
    flex: 0 0 auto;
    min-width: 735px;
}

.nav {
    font-size: 23px;
}

.logo {
    max-width: 220px;
    min-width: 150px;
}

/* Title */

.title,
.logo {
    margin-left: 2em;
    padding: 0 2em 0 0;
}

.title * {
    color: $white-color;
    white-space: nowrap;
}

.titlename {
    font-family: $title-font;
    font-size: 3em;
    width: static;
}

.nav a {
    color: $highlight;
}
