/* Placement */

.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

img,
embed,
object,
video {
    background-color: $font-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
}

.ronald {
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 4em;
    width: 300px;
}

.snapshot {
    width: 50%;
}

.ronald-container {
    padding-top: 3em;
    width: 300px;
}
