/* Placement */

.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

img,
embed,
object,
video {
    width: 100%;
}

.ronald {
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 4em;
    width: 300px;
}

.snapshot {
    width: 50%;
}
