.main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15em;
    width: 100%;
}

.main {
    background-color: $main-color;
    border-radius: 0.5em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: $font-color;
    min-height: 800px;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    width: 60%;
}

* {
    border: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $link-color;
}


body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: 1.3rem;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

ol,
ul {
    padding-left: 1.5em;
}

p {
    font-family: $paragraph-font;
}

p,
td,
th,
li,
dd {
    overflow-wrap: break-word;
    text-align: justify;
    word-wrap: break-word;
}
