@media (max-width: 1800px) {
    .main {
        padding-left: 9em;
        padding-right: 9em;
    }
}

@media (max-width: 1000px) {
    .main {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

}
