.box {
    background-color: $grey-color;
    border: 2px solid $white-color;
    border-radius: 0.5em;
    height: 7em;
}

.box a {
    color: $link-color;
    padding-left: 1em;
}

.box h2 {
    padding-top: 1.9em;
}

.landingpage {
    display: grid;
    gap: 1em 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.technology-nav {
    font-size: 0.8em;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}

.technology-page {
    display: grid;
    gap: 2em 2em;
    grid-template-columns: 200px 1fr;
    position: relative;
}

.technology-page h1 {
    grid-column: span 2;
    grid-row: 1;
    justify-self: center;
}

.technology-page p {
    grid-column: 2;
}

.technology-page pre {
    grid-column: span 2;
}

.technologies {
    height: 30px;
}

.wide2 {
    grid-column: span 2;
}

.wide3 {
    grid-column: span 3;
}

@media only screen and (max-width: 767px) {
    .technology-nav {
        display: none;
    }
}
