@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$font-color: #dbdbdb;
$font-alternative-color: #fff;
$accent-color: #cac471;
$alternative-accent-color: #383838;
$background-color: #33321d;
$background-alternative-color: #5f5e5563;
$paragraph-font: 'Josefin Sans', sans-serif;
$title-font: 'Great Vibes', serif;
$normal-sans-font: 'Open Sans', sans-serif;
$grey-color: rgb(102, 102, 102);
$white-color: rgb(255, 255, 255);
$highlight: #f5ec60;
$link-color: #f5ec60;
$main-color: #2f2f2f;
$code-background: #f5f5f5;
