$font-color: #141414;
$font-alternative-color: #fff;
$accent-color: #d3ff98;
$alternative-accent-color: rgb(95, 95, 95);
$background-color: #ececec;
$background-alternative-color: #646464;
$paragraph-font: 'Roboto Slab', serif;
$title-font: 'Great Vibes', serif;
$normal-sans-font: 'Open Sans', sans-serif;
$grey-color: rgb(184, 184, 184);
$white-color: rgb(255, 255, 255);
$link-color: rgb(156, 0, 156);
$highlight: #fff;
$main-color: #f3f3f3;
$code-background: #ffffff;