$font-color: #252525;
$font-alternative-color: #fff;
$accent-color: #d3ff98;
$alternative-accent-color: rgb(77, 77, 77);
$background-color: #ececec;
$background-alternative-color: #5c5c5c;
$paragraph-font: 'Roboto Slab', serif;
$title-font: 'Great Vibes', serif;
$normal-sans-font: 'Open Sans', sans-serif;
$grey-color: rgb(184, 184, 184);
$white-color: rgb(255, 255, 255);
$link-color: rgb(110, 0, 110);
