.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
